@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<div class="chart-container"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initChart");
        }
    }
}
