@using OrgChart.Models
@using System.Text.Json
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<div class="chart-container"></div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        List<Person> people = new List<Person>
        {
            new Person
            {
                Id = "100",
                ParentId = "", 
                Name = "C109",
                LastName = "",
                Position = "IT Department",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait12.png",
                OfficeLeader = "Randy Chang"
            },
            new Person
            {
                Id = "101",
                ParentId = "100", 
                Name = "C109.1",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png",
                OfficeLeader = "Bob Hong"
            },
            new Person
            {
                Id = "110",
                ParentId = "100",
                Name = "C109.2",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png",
                OfficeLeader = "Bob Hong"
            },
            new Person
            {
                Id = "111",
                ParentId = "100",
                Name = "C109.3",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png",
                OfficeLeader = "Bob Hong"
            },
            new Person
            {
                Id = "112",
                ParentId = "100",
                Name = "C109.4",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png",
                OfficeLeader = "Bob Hong"
            },
            new Person
            {
                Id = "102",
                ParentId = "101", 
                Name = "C109.11",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png",
                OfficeLeader = "Holly Sasaki"
            },
            new Person
            {
                Id = "103",
                ParentId = "101", 
                Name = "C109.12",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png",
                OfficeLeader = "Dustin Lopiccolo"
            },
            new Person
            {
                Id = "104",
                ParentId = "101",
                Name = "C109.13",
                LastName = "",
                Position = "Network Division",
                Image = "https://bumbeishvili.github.io/avatars/avatars/portrait85.png"
            }
            // Add more Person objects as needed
        };

        var jsonPeople = JsonSerializer.Serialize(people);

        if (firstRender)
        {
            //await JSRuntime.InvokeVoidAsync("initChart");
            await JSRuntime.InvokeVoidAsync("initChartWithJson", jsonPeople);
        }
    }
}
